<h1>Add a Product</h1>

<%= form_for(@product) do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</p>
<p>
  <%= f.label :price_in_cents %><br>
  <%= f.text_field :price_in_cents %>
</p>

<p>
  <%= f.submit "Save" %>
</p>
<% end %>

<% if @product.errors.any? %>

<div>
  <h2>
    <p>
      <%=  pluralize(@product.errors.count,"error")%>
    </p>

    <p>the product is not saved</p>
  </h2>

</div>

<% end %>
