<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/products">Home</a>
        </li>
        <li>
          <a href="/products/new">New Product</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
